html {
    height  : 100%;
    overflow: hidden;
}
body {
    height  : 100%;
    overflow: auto;
}

#canvas {
    border:3px solid black;
    touch-action: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin:auto;
    margin-bottom: 10px;
    background-color: white;
}

#videoDiv {
    border:3px solid black;

    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin-left:32%;
    margin-right:32%;
} 

.buttonDiv {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* border: 3px solid lightgray;
    border-radius: 6px;
    background-color: lightblue; */
    margin-left: 32%;
    margin-right: 32%;
}



#clearButton,#saveButton,#pixelizeButton,#videoButton {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 24px;
    margin-bottom: 5px;
    background-color: aliceblue;
    border-radius: 6px;
}

h1 {
    display: flex;
    justify-content: center;
    margin:auto;
    margin-bottom: 10px;
    font-size: 24px;
}

#characterInput {
    font-size: 24px;
    margin:auto;
    background-color: rgba(235, 184, 184,0.6);
    border-radius: 6px;
    
}
