/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

html,
body {
    overscroll-behavior-y: contain;
}

#canvas {
    border:2px solid black;
    touch-action: none;
    /* display: flex;
    margin: auto; */
    /* margin-left: 50%;
    margin-right: 50%; */
}

.Buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#clearButton,#saveButton,#characterInput {
    /* display: flex;
    margin:auto; */
    font-size: 32px;
}
