/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

html,
body {
    overscroll-behavior-y: contain;
}

#canvas {
    border:2px solid black;
    touch-action: none;
    display: flex;
    justify-content: center;
    margin:auto;
    margin-bottom: 10px;
}

.Buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#clearButton,#saveButton {
    margin-left: 30%;
    margin-right: 30%;
    font-size: 24px;
    margin-bottom: 5px;

}

h1 {
    display: flex;
    justify-content: center;
    margin:auto;
    margin-bottom: 10px;
    font-size: 24px;
}

#characterInput {
    font-size: 24px;
    margin:auto;
}
